* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background: #1e1e2e;
  box-sizing: border-box;
}

main {
  margin: 0 auto;
  width: 800px;
  height: 100vh;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
}

#buttons {
  text-align: center;
  padding: 5px 0;
}

button {
  border: 1px solid #666;
  border-radius: 5px;
  padding: 10px;
  width: 40px;
  color: #ccc;
}

#controls {
  border-bottom: 1px solid #666;
}

input[type="text"] {
  width: 100%;
  border: 0;
  padding: 10px;
  border-bottom: 1px solid #666;
  color: #ccc;
  text-align: center;
}

#output {
  padding: 0 70px;
  height: calc(100vh - 84px);
  overflow: auto;
}

.calculation {
  padding: 10px;
}

.calculation:first-child {
  color: #2ece2e;
}

.calculation:not(:first-child) {
  border-top: 1px solid #666;
  color: #666;
}

.input {
  text-align: left;
}

.result {
  text-align: right;
}
